* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62,5px;
  --ff-primary: 'Poppins', sans-serif;

  --hue: 194;
  --primary-color: hsl(var(--hue), 80%, 40%);
  --search-color: hsl(var(--hue), 90%, 10%);
  --table-cb-color: hsl(var(--hue), 50%, 20%);
  --table-tr-color: hsl(var(--hue), 30%, 10%);
  --table-border-color: hsl(var(--hue), 55%, 30%);
}

body {
  background-color: black;
  color: white;
  font-family:var(--ff-primary)
}

#app {
  padding:2rem;
  max-width: 1000px;
  margin: 0 auto;
  /* border: 1.5px solid */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-family: "roboto", sans-serif;
}

header button svg {
  width: 1.2rem;
  height: 1.2rem;
  background-color: none;
  border:none;

  margin-right: 8px;
}

header button {
  background: var(--primary-color);
  padding: 0.4rem 1.5rem;
  border-radius: 5px 5px 5px 5px;

  font-family: var(--ff-primary);
  color: white;
}



header input {
  background: var(--search-color);
  border: none;
  width: 20rem;
  height: 2rem;

  border-radius: 5px 5px 5px 5px;
  padding: 0.5rem;
  color: grey;

}


.sr-only{
  position: absolute;
  width:1px;
  height: 1px;
  padding: 0px;
  margin: 1px;
  overflow:hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

table {
  margin-top: 5rem;
  width: 100%;

  border-collapse: collapse;
  outline: .1rem solid var(--table-border-color);
  border-radius: 20px 20px 20px 20px ;

  overflow: hidden;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

table tbody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 61.8rem;
  overflow: auto; /* Para para contornar o problema no Firefox */
  overflow: overlay; /* Para que o scroll de cima seja substituido pelo certo, mas isso apenas qunado o navegador for o chrome */

  scrollbar-width: thin;
}

table tbody::-webkit-scrollbar {
  width: 22px;
  border-radius: 9999px; /* boda estilo pill button */
}

table tbody::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: transparent; /* para dar o efeito de margin */
  border-radius: 8rem;
  box-shadow: inset 0 0 0px 6px var(--table-cb-color); /* para dar a cor do scroll*/
  border: solid 8px transparent; /* para dar o efeito de margin */
}



table thead th:first-child,
table tbody tr td:first-child {
  width: 50.4rem;
}

table thead th:nth-child(2),
table tbody tr td:nth-child(2) {
  width: 21.8rem;
}

table thead th:nth-child(3),
table tbody tr td:nth-child(3) {
  width: 22rem;
}

table tbody tr td:nth-child(2) {
  padding: 1.6rem;

}

table tbody tr td:nth-child(3) {
  padding: 1.6rem;

}

table tbody tr td:nth-child(4) {
  padding-right: 2.6rem;

}

table th:nth-child(1){
  padding-left: 2rem;
}


table th:nth-child(4){
  padding-right: 2rem;
}

table th {
  padding: 0.5rem;
  text-align: left;
}


table .user {
  padding: 1rem 2rem;
  display: flex;
}

table td {
  padding: 0.5rem;
}

table a {
  text-decoration: none;
  margin-left: 15px;
  color: white;
}

table p {
  color: white;
  font-weight: bold;
}

table img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}


table tbody tr {
  border: 1px solid var(--table-border-color);
  display: flex;
}


table tbody tr td:first-child {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

table thead{
  background: var(--table-cb-color);
  padding: 15px;
  border-bottom: 1px solid var(--table-border-color);
}

table tr:nth-child(even) {
  background: var(--table-tr-color)
}

/* table th:first-child {
   border-top-left-radius: 1rem;
}

table th:last-child {
  border-top-right-radius: 1rem;
} */

table button {
  color: rgb(255, 77, 77);
  font-family: var(--ff-primary);
  font-weight: bold;

  background: none;
  border: none;
  cursor: pointer;
}